<%= turbo_frame_tag @sheet %>
  <%= render "form", sheet: @sheet %>
  <%= link_to "Return to Sheet", @sheet, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>


  <div class="inline-block ml-2">
      <%#= button_to "Destroy this sheet", sheet_path(@sheet), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>