<% if action_name == "show" %>
  <div id="<%= dom_id sheet %>" class="w-full mx-auto py-4">
    <div class="overflow-x-auto">
      <table class="min-w-full border-collapse table-auto">
        <!-- Table Header -->
        <thead>
          <tr class="border-b border-gray-200 bg-gray-100">
            <% sheet.columns.each do |column| %>
              <th class="py-3 px-4 border-r border-gray-200">
                <%= column.title %>
              </th>
            <% end %>
          </tr>
        </thead>
        <!-- Table Body -->

        <tbody>
          <!-- Row 1 -->
          <tr class="border-b border-gray-200">
            <td class="py-2 px-4 border-r border-gray-200">Data 1</td>
            <td class="py-2 px-4 border-r border-gray-200">Data 2</td>
          </tr>
          <!-- Row 2 -->
          <tr class="border-b border-gray-200 bg-gray-50">
            <td class="py-2 px-4 border-r border-gray-200">Data 4</td>
            <td class="py-2 px-4 border-r border-gray-200">Data 5</td>
          </tr>
          <!-- Eventually replace these rows with each row of data for a sheet -->
        </tbody>
      </table>
    </div>
<% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this sheet", sheet, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this sheet", edit_sheet_path(sheet), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
