<div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>

  </p>
    <h1> <%= sheet.title %> </h1>

    <div>
        <% for col in sheet.columns do %>
            <%#= I need to create an element that flexes to the intended size  %>
            <div>hi</div>
        <% end %>
    </div>
</div>