<div id="<%= dom_id sheet %>">
  <%= render 'sheet_table', sheet: sheet %>


  <% if action_name != "show" %>
    <%= link_to "Show this sheet", sheet, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this sheet", edit_sheet_path(sheet), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
