
<%= turbo_frame_tag column, class: "flex items-center justify-between cursor-pointer" do %>
    <div class="truncate">
        <%= column.title %>
    </div>

    <%= link_to edit_sheet_column_path(@sheet, column) do %>
        <%= image_tag 'dots-vertical.svg', class: "w-6 h-6" %>
    <% end %>
<% end %>
